body{
    background-image: url('https://www.shutterstock.com/image-photo/abstract-blurred-background-contemporary-shopping-260nw-2757871571.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
